<html>
  <body id = "about">
    <h1>About PEGBA</h1>

    <p>We are a company who prides ourselves on items that are not new,
      making it very cost effective to live a luxurious life style in the same
      shirt someone else has enjoyed.
    </p>

    <h1>About Alvin</h1>

    <p>Alvin has owned some pretty good shit in his day. His priority is
      for everyone to enjoy everyone else's shirts(literally). His dedication
      to ensuring that shirts are not worn by more than one owner, means
      that you can enjoy a person's shirt, not many people's shirt.
    </p>
    <p>
      Little Known Fact: Chippendale's tried to recruit Alvin, but he said his
      dream is to be a web engineer.
    </p>

    <h1>About the Rest of Us...</h1>

    <h3>Jason</h3>
    <p>Little Known Fact: Jason invented sliced bread.</p>


    <h3>Marc</h3>
    <p>Little Known Fact: Marc takes mozarella cheese showers every morning.</p>

    <h3>Ciara</h3>
    <p>Little Known Fact: Ciara eats pieces of shit like you for breakfast.</p>
  </body>
</html>
