<html>
  <body class = "styling">
    <h1>About PEGBA</h1>

    <p>We are a company who prides ourselves on items that are not new,
      making it very cost effective to live a luxurious life style in the same
      shirt someone else has enjoyed.
    </p>

    <h1>About Alvin</h1>

    <p>Alvin has owned some pretty good shit in his day. His priority is
      for everyone to enjoy everyone else's shirts(literally). His dedication
      to ensuring that shirts are not worn by more than one owner, means
      that you can enjoy a person's shirt, not many people's shirt.
    </p>

  </body>
</html>
