<!DOCTYPE >
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>Characters</title>
</head>
<body>
  <ul>
    <% shirts.each do |shirt| %>
      <li>
        
        <%= shirt[0] %>
        <%= shirt[1] %>
        <%= shirt[2] %>
        
      </li>
    <% end %>
  </ul>
</body>
</html>