<!DOCTYPE >
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>PEGBA</title>
</head>

  <body>
    <div class = "container">
      <div class = "jumbotron">
        <h1>Welcome to PEGBA!</h1>
        <h3>At PEGBA, or Previously Enjoyed Goods by Alvin, we pride ourselves on providing
          the highest quality t-shirts. These t-shirts are not used - they were just previously
          enjoyed by someone else that is not you.</h3>
      </div>
    </div>
    <ul>
      <% shirts.each do |shirt| %>
        <li>
          <a href='/confirm/<%= shirt[:id]%>'>
            <%= shirt[:color] %>
            <p>Amount Available: <%= shirt[:quantity] %></p>
            <img src="<%= shirt[:img_url] %>">
          </a>
        </li>
      <% end %>
    </ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src='/index.js'></script>
  </body>
</html>
