<!DOCTYPE >
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta charset="UTF-8">
  <title>PEGBA</title>
</head>

  <body class = "styling">

    <h1>PEGBA CONFIRMATION</h1>

    <h2>Thank you for your purchase <%= buyer.name %></h2>

    <p>The item is located in North Korea or possibly Somalia, shipment of the item may take up to 6 months</p>

    <a href="/">Return to Homepage</a>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src='/index.js'></script>

  </body>
</html>
